@model BlogProject12.Models.BlogModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var title = "Create Tag";
}


<h1>Create a blog</h1>

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 border-bottom">

        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    Blog Title
                </div>
                <div class="col-8">
                    <input asp-for="BlogTitle" class="form-control" />
                    <span asp-validation-for="BlogTitle" class="text-danger"></span>
                </div>
                <div><br></div>
                <div class="col-4">
                    Blog Content
                </div>
                <div class="col-8">
                    <input asp-for="BlogRaw" class="form-control" />
                    <span asp-validation-for="BlogRaw" class="text-danger"></span>
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">

                    <button type="submit" class="btn btn-primary form-control">Blog Post</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}
